body {
  text-align: center;
  background-color: cornflowerblue;
}

h1 {
  font-size: 35px;
  height: auto;
  margin: 20px;
  font-weight: bold;
}

#username {
  width: 100px;
  font-size: 100%;
}

#output {
  width: 300px;
  height: 350px;
  overflow: auto;
  margin: 20px auto 10px;
  background-color: cornsilk;
}

button {
  width: 70px;
}

p {
  margin: 20px auto;
}
